---
nginx_version: "latest"           # or "1.24.*" / "stable"
nginx_package_name: nginx
nginx_service_name: nginx
nginx_user: www-data
nginx_group: www-data
nginx_port_http: 80
nginx_port_https: 443
nginx_conf_dir: /etc/nginx
nginx_global_conf_dir: "{{ nginx_conf_dir }}/conf.d"
nginx_sites_enabled_dir: "{{ nginx_conf_dir }}/sites-enabled"
nginx_default_site_enabled: true
nginx_remove_default_site: true
nginx_worker_processes: auto
nginx_worker_connections: 1024
nginx_server_tokens: off
nginx_keepalive_timeout: 65
nginx_state: present 
nginx_enabled: true

virtual_hosts:

  - server_name: ["api.company.internal"]
    filename: api.internal.company.conf
    listen: 8080
    ssl: false
    locations:
      - path: /
        proxy: http://jsonplaceholder.typicode.com
        proxy_read_timeout: 300s
        proxy_settings:
          proxy_http_version: "1.1"
          proxy_set_headers:
            Host: "$host"
            X-Real-IP: "$remote_addr"
            X-Forwarded-For: "$proxy_add_x_forwarded_for"
            X-Forwarded-Proto: "$scheme"
            Connection: '""'

  - server_name: ["api.company2.internal"]
    filename: api.internal.company2.conf
    listen: 8080
    ssl: false

    locations:
      - path: /
        proxy: http://jsonplaceholder.typicode.com
        proxy_read_timeout: 300s
        proxy_settings:
          proxy_http_version: "1.1"
          proxy_set_headers:
            Host: "jsonplaceholder.typicode.com"
            X-Real-IP: "$remote_addr"
            X-Forwarded-For: "$proxy_add_x_forwarded_for"
            X-Forwarded-Proto: "$scheme"
            Connection: '""'

      - path: /assets/
        match: ~
        root: /srv/frontend/build
        try_files: $uri =404
        expires: 365d